@using Dysnomia.WhoOwnsMe.Common.Models;
@{
    ViewData["Title"] = "Index";
    var topItems = (IEnumerable<Property>)ViewData["TopItems"];

    var culture = Context.Features.Get<IRequestCultureFeature>
        ().RequestCulture.Culture.TwoLetterISOLanguageName;
}

<section class="corps">
    <div class="index-search">
        <div class="search-bar">
            <p class="index-text">@Localizer["HOME_MSG"]</p>
            <input type="search" id="index-search-value" name="s" placeholder="@Localizer["SEARCH_PLACEHOLDER"]" value="@ViewData["SearchText"]">
            <input type="submit" id="index-search-button" value="@Localizer["SEARCH"]">
            @if (ViewData["error"] != null) {
                <p class="index-error">@ViewData["error"]</p>
            }
        </div>
    </div>

    <partial name="_Ad" />

    <div class="corps center-corps corps-view">
        <h2 class="center-title">@Localizer["TOP"]</h2>
        <ol>
            @foreach (var item in topItems) {
                <li><a href="info/@item.Name">@item.Name - @item.LongName</a></li>
            }
        </ol>
        <br />
        <br />
    </div>

    <script>
        window.onload = () => {
            const sendForm = () => {
                const value = document.getElementById('index-search-value').value;

                if (value.length < 2) {
                    return;
                }

                window.location.href = '/@culture/search/' + value
            };

            document.getElementById('index-search-button').addEventListener('click', sendForm);
            document.getElementById('index-search-value').addEventListener('keyup', (e) => {
                if (e.key === "Enter") {
                    sendForm();
                }
            });
        };
    </script>
</section>
